.cardlist {
  &_container {
    display: flex;
    margin: 50px auto;
    flex-direction: column;
    padding: 50px 105px;
    width: 60.9vw;
    height: 45vh;
    background-color: transparent;
    border-top: 1px solid orangered;
    border-bottom: 1px solid orangered;
    gap: 1em;
    backdrop-filter: blur(10px);

    &_title {
      justify-self: start;
      align-items: flex-start;
      color: white;
      font-weight: 600;
    }
  }

  &_actual_list {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
  }
}

.card {
  &_image {
    height: 50%;
  }

  color: white;
  background-color: rgba($color: #fff, $alpha: 0.05);

  &_add {
    background: transparent;
    color: orangered;
    border: 0;
    font-weight: 500;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
  }

  &_arrow {
    align-self: center;
    color: white;
  }
}

.check_other_products {
  margin: 20px 0px;
  font-size: 20px;
  font-weight: 500;
  align-self: center;
  color: orangered;
}
