$drawer-width: 80vw;
.navigation {    
  &__nav {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  // this hides the navigation drawer
  opacity: 0;
  width: 0;
  transform: translateX(calc(#{$drawer-width} * -1));
  }
 
  &__btn:checked ~ &__nav {
  opacity: 1;
  width: $drawer-width;
  transform: translateX(0);
  }
}

.sidebarWithNavbar{
    display: flex;
    height: 100%;
    z-index: 3;
}

.sidebar{
    position: fixed;
    top: 0;
    height: 94%;
    width: 100px;
    background: transparent;
    padding: 30px 0px;
    border-right: 1px solid orangered;
    transition: all 0.25s;
    &_closed{
    
        top: 0;
        height: 94%;
        width: 100px;
        background: transparent;
        padding: 30px 0px;
        border-right: 1px solid orangered;
        transition: all 0.25s;

  
        transition: all 0.25s;
        margin-left:-102px;
        position: absolute;
      
    }
  

    &_button{
        background-color: transparent;
        border: 0;
        margin-top: 10px;
        cursor: pointer;
        margin-left: 15px;
        &_closed{
            cursor: pointer;
            background-color: transparent;
            border: 0;
            margin-top: 10px;
            margin-left: 120px;
        }
    }
    &_icon{
        width: 40px;
        margin-top: 10px;
        margin-left: 10px;
    }
}


.navbar{
    
    z-index: -1;
    width: 100%;
    max-width: 2017px;
    backdrop-filter: blur(15px);
    gap: 40px;
    flex-direction: row;
    align-items: center;
    display: flex;
    padding: 30px 50px;
    flex-wrap: wrap;
    border-bottom: 1px solid orangered;
    background-image: url(/assets/images/fundo.png), linear-gradient(30deg, #0F0F1A 0.00%, #131326 100.00%);

   &_logo{
    justify-self: flex-start;
    margin-left: 75px;
   }

   &_search{
    &_input{
        background-color:rgba(255,255,255,0.1);
        color: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 200px;
        height: 40px;
        padding: 0px 10px;
        border-radius: 5px;
        border: 0px;
    }

    &_svg{
        z-index: 2;
        margin-left: -30px;
        cursor: pointer;
    }
       margin: 0 0 0rem 60rem;
   }

   &_login_container{
        gap:25px;
        display: flex;
        color: white;
        height: 60px;
        align-items: center;
        

    &_sign_up{
        color: white;
        font-weight: 600;
        cursor: pointer;
    }

    &_slash{
        color: white;
        font-weight: 600;
        font-size: 20px;
        width: 2px;
        height: 35px;
        background-color: white;
    }

    &_login{
        cursor: pointer;
        background-color: #DD2630;
        width: 6rem;
        color: white;
        font-weight: 600;
        height: 40px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        border: 0;
    }
   }

  
    
}

.line {
    &_first{
        margin-left: 11px;
        width: 30px;
        height: 3px;
        border-radius: 1px;
        background: #FFF;
        opacity: 0.75;
        margin-bottom: 7px;
    }
    &_second{
        margin-left: 5px;
        width: 28px;
        height: 3px;
        border-radius: 1px;
        background: #FFF;
        opacity: 0.75;
        margin-bottom: 7px;
    }
    &_third{
        margin-left: 4px;
        width: 22px;
        height: 3px;
        border-radius: 1px;
        background: #FFF;
        opacity: 0.75;
        margin-bottom: 7px;
    }
    &_container {
       width: 3rem;
       height: 3rem;
    }


}