.input{
    background-color: rgba($color: #FFF, $alpha: 0.05);
    height: 30px;
    border-radius: 5px;
    border: 0;
    color: white;
    font-weight: 500;
    padding-left: 15px;
    font-family: 'Ubuntu';
}